<div class="lg:grid lg:grid-cols-5 align-center">
  <div class="flex justify-center col-span-2 lg:order-2">
    <img  src="../../../assets/avatar.svg" alt="">
  </div>
  <div class="col-span-3 flex flex-col gap-4 lg:order-1">
    <h2 class="text-6xl font-bold text-slate-100">Manoel Rios</h2>
    <p class="text-md font-bold text-slate-500 text-justify">
      Sou um desenvolvedor que se dedica com paixão a aprender cada vez mais e a
      explorar novas soluções, com foco no aprimoramento do desenvolvimento
      lógico. Já passei por diversas tecnologias voltadas tanto para o Frontend
      quanto Backend, como, HTML e CSS, Java, C#, PHP, Javascript e Typescript,
      Angular, Node.Js, React Js e React Native. Hoje estou focado no
      desenvolvimento Fluig, aliado à construção de fluxo de processo (BPM) e
      Javascript no desenvolvimento de Formulário e integrações externas
      (PROTHEUS).
    </p>
    <button class="w-28 font-bold text-slate-300 p-2 bg-violet-800 rounded-lg">
      Currículo
    </button>
  </div>
</div>
