<div class="w-1250px">
  <nav
    class="p-4 bg-slate-900 bg-gradient-to-r from-transparent to-slate-950 bg-opacity-90 rounded-lg text-slate-300 font-bold font-lg flex align-center justify-between gap-4"
  >
    <div class="flex align-center gap-4">
      <a href="/" class="">[MR]</a>
      <a href="/">About</a>
      <a href="/">Projects</a>
      <a href="/">Contact</a>
    </div>

    <div class="flex align-center gap-4">
      <a href="https://github.com/ManoelRIos" target="_blank" class="w-8"
        ><img src="../../../assets/github.svg" alt=""
      /></a>
      <a
        href="https://www.linkedin.com/in/manoel-rios-20a4b01a2/"
        target="_blank"
        class="w-8"
        ><img src="../../../assets/linkedin.svg" alt=""
      /></a>
    </div>
  </nav>
</div>
