<div class="flex flex-col gap-6">
  <h2 class="text-3xl font-bold text-slate-100">Tech Stacks</h2>
  <div class="grid 2xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 gap-4">
    <app-card-stack
      [icon]="'../../../../assets/github.svg'"
      [text]="'Github'"
      [tag]="'Repositório'"
    ></app-card-stack>
    <app-card-stack
      [icon]="'../../../../assets/VSCode.png'"
      [text]="'VSCode'"
      [tag]="'Editor'"
    ></app-card-stack>
    <app-card-stack
      [icon]="'../../../../assets/TypeScript.png'"
      [text]="'TypeScript'"
      [tag]="'Language'"
    ></app-card-stack>
    <app-card-stack
      [icon]="'../../../../assets/Angular.png'"
      [text]="'Angular'"
      [tag]="'Framework'"
    ></app-card-stack>
    <app-card-stack
      [icon]="'../../../../assets/FluigIcon.png'"
      [text]="'Fluig'"
      [tag]="'Workflow'"
    ></app-card-stack>
    <app-card-stack
      [icon]="'../../../../assets/Figma.png'"
      [text]="'Figma'"
      [tag]="'Design'"
    ></app-card-stack>
    <app-card-stack
      [icon]="'../../../../assets/TailwindCSS.png'"
      [text]="'Tailwind'"
      [tag]="'CSS'"
    ></app-card-stack>
    <app-card-stack
      [icon]="'../../../../assets/Vercel.png'"
      [text]="'Vercel'"
      [tag]="'Deployment'"
    ></app-card-stack>
  </div>
</div>
