<div id="projects" class="flex flex-col gap-6">
  <h2 class="text-3xl font-bold text-slate-100">Projetos</h2>
  <app-card-project
    [title]="'Agenda Virtual'"
    [icon]="'../../../assets/FluigIcon.png'"
    [text]="
      'Apresento a Agenda Virtual Fluig: Sua Solução Completa de Gerenciamento de Tempo Gerencie sua agenda de forma eficiente e eficaz com a Agenda Virtual Fluig, uma ferramenta poderosa e intuitiva que se integra perfeitamente ao seu dia a dia.'
    "
    [projectImg]="'../../../assets/fluiggif.gif'"
  ></app-card-project>

  <app-card-project
    [title]="'MyTodo'"
    [icon]="'../../../assets/Angular.png'"
    [text]="
      'Este projeto consiste em um aplicativo de tarefas completo desenvolvido com Angular para estrutura e Tailwind CSS para estilização. Implementa um sistema CRUD (Criar, Ler, Atualizar, Excluir) completo para gerenciar tarefas, permitindo que os usuários organizem e priorizem seus itens pendentes de forma eficaz.'
    "
    [projectImg]="'../../../assets/my-todo.gif'"
    [visitUrl]="'https://todo-angular-phi.vercel.app/'"
  ></app-card-project>
  <app-card-project
    [title]="'Gestão de Projetos'"
    [icon]="'../../../assets/FluigIcon.png'"
    [text]="
      'Sistema abrangente de gerenciamento de projetos utilizando as funcionalidades de datasets, BPM (Gerenciamento de Processos de Negócios) e WCM (Gerenciamento de Controle do Trabalho) do Fluig, aprimorando a eficiência, a colaboração e a visibilidade dos projetos. Ao implementar um sistema de gerenciamento de projetos que integra os recursos de datasets, BPM e WCM do Fluig, as organizações podem alcançar melhorias significativas na eficiência, colaboração e visibilidade dos projetos, levando a melhores resultados dos projetos e ao sucesso geral da organização.'
    "
    [projectImg]="'../../../assets/cadastro-projeto.gif'"
  ></app-card-project>
</div>
