<div
  class="grid lg:grid-cols-2 gap-6 align-center bg-slate-900 p-12 rounded-lg"
>
  <div class="col-span-1 flex flex-col gap-4 justify-between">
    <div class="flex flex-col gap-4">
      <img class="w-14" src="{{ icon }}" alt="" />
      <h3 class="text-2xl font-bold text-slate-100">{{ title }}</h3>
      <p class="text-md text-slate-500 text-justify">
        {{ text }}
      </p>
    </div>
    <a *ngIf="visitUrl != ''"  target="_blank" class="font-bold text-slate-400 hover:text-violet-600" href="{{ visitUrl }}"
      >Visitar</a
    >
  </div>

  <div class="col-span-1 hidden md:flex md:justify-center ">
    <img class="w-full rounded-lg" src="{{ projectImg }}" alt="" />
  </div>
</div>
